#alert-messages {
  position:fixed;
  background-image:url(http://2.bp.blogspot.com/-UlA4yVBeb-U/UQWKlNg0IGI/AAAAAAAAEh0/akatd29cow4/s1600/bg-overlay.png);
  width:100%;
  height:100%;
  z-index:999999999999999999;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
#alert-messages p {
  position:fixed;
  width:250px;
  z-index:999999999999999999;
  top:32% !important;
  right:35% !important;
  left:35% !important;
  background-image:url(http://2.bp.blogspot.com/-38C3LZSYMe8/UQWLbLjQFpI/AAAAAAAAEiE/I1d65KEnv3A/s1600/bg-overlay-content.png);
  font:15px/18px "verdana",arial;
  text-transform:uppercase;
  text-align:center;
  color:#777;
  padding:25px 40px;
  -webkit-animation:opacity 2.5s;
  -moz-animation:opacity 2.5s;
  -ms-animation:opacity 2.5s;
  -o-animation:opacity 2.5s;
  animation:opacity 2.5s;
}
#alert-messages p a {
  color:#222 !important;
  font-size:10px!important;
}

#alert-messages:target{
         display:none;
         
      }