.dnone {
  display:none !important;
  position:absolute !important;
  top:-4000em !important;
  left:-4000em !important;
  width:0!Important;
  height:0!Important;
  color:transparent !important;
  font-size:0 !important;
}
a.x-blog-share{
 display:none;
}