.blog-post-container {
    line-height: 1.5em;
    margin: 0 auto;
    color: #494949;
    position: relative;
    z-index: 2;
    width: 100%;
}

a.x-blog {
    display: none;
}

a.x-blog-share {
    color: rgb(198, 235, 4) !important;
    display: inline !important;
    text-shadow: 0px 0px 10px rgb(198, 235, 4), 0px 0px 20px rgb(198, 235, 4), 0px 0px 30px rgb(198, 235, 4) !important;
}

.blog-post-container a {
    color: #494949;
}

.nav-message {
    display: none;
}

.blog-post-container h3 a {
    padding: 0 10px 20px  0;
    color: #555;
    font-weight: 600;
    font-style: normal;
}

.item .blog-post-container .eightcol  img {
    padding: 10px;
    width: 96%;
    max-width: 100%;
    background: #333;
}

.blog-post-container p {
    margin: 10px 0;
}

.blog-post-container .row .eightcol,
.blog-post-container .row .fourcol {
    float: left;
    overflow: hidden;
}

.blog-post-container .row .eightcol {
    margin: 0;
    width: 100%;
}

.blog-post-container .row .fourcol {
    margin: 0;
    width: 15%;
}

.blog-post-container .span26 {
    padding: 2em!important;
    background: rgba(30,30,30, 0.4)url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAADd0lEQVR4nO2dwZHCQAwE930hkAZxkAZxkAZxkAZxEMd9z3OUmznuI6r7t7X22stDsjTSsi6Xy9f6wfl83oyv1+vu+H6/b8a3220zfjwem/HxeNydX2ttxofDoXpe3p/X535zvt1frpf7y/fP+/N6EZFJpM0kG5vzOT6dTrtj8glks3M+12tteuuTaH/pg2m9vF5EZBIUN5CNzPkVNjLXT59FcQr5uLw/5/P5OSYfl+Pcf/qgBXFQ3p/ri4hMgnIz7Xc5feeTTaZcV75frpfX53yun/vL98n1ckz7ozjuSS5PRGQMZEOffCdTPr+y4WSjyWdQHJTjNg6i55EPzue98P4iImOg72j6zk+bS3pBjtPmLvBReX++f75f2vC8P+fJp+b15BPp91VTF5HJkL5BuSGyue/mpqhubIXPafUQ0uypZoA0dMqdpU8SERnGWzaf9APySZQLIh/zxAZX709xSq6Xv0/6HPIx5JNERCZBdUOUG6I6JcodkU8gH0A+Jm0+5c4ol9fWabW1yCIik2jjCKq9pdwO1RKT3tDWYbV1YxQ30X5JryF9RURkEm1d0wu5GNKMd210zpNPIB9CffYUl5DN/+8eSxGRSVBtLekVC3rqcp7iiFZ/yfdrzxYhn9P21ZMeQrktEZFJkEZMtbP0HU76BGn4pElTPwvlnshHUJ0Z5QIpjlIPEZHJkA+g2tR3fQBp7mRzW02fNG3qqaR50keoLkxEZBJp81qNeJV96aSZk97RnsXSaviUiyKfRbk+fYiIfBhk0yobTd/57VnsdA4v+bRW/2jrzNqzU2g/IiKToLoj+m5fUGfV5o4obmnPMCQbTvujfpA2bnrhbHgRkTGQhkzf3aQ5U+1v23dO17fnU1Ec09YCU67O/hAR+STIZ9A5tXRmYXuWCGn2ZNMpziEb3mr0NN/WKIiITIJ6AHNMNjGvb/u827iC+lmoX4Tej3wSndnY5rZERCZBNvW/NfG2v6M9a556Ftu+89wP5aYozrAuS0Q+CcpVrTIuIZtLekF7JmJ79nwbN7U9krQerS8iMgmyce3Z7dRP8Yc6pV0fRP/5RD6O+sjpesq9UVxmLktEJkPf0a1mTmcoUq6M9Im2Fpf0CTrbne5v/4PqhTo0EZExtOfQUi1sjtuz5fP+fB7pC6TvkF5Bmnyrz1Cctn7/fiIiU/gG9i5uLQnuYhUAAAAASUVORK5CYII=);
    border: 1px solid #181818;
    box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 2px 3px #000;
    margin: 0 1px 8px 0;
    display: block;
    float: left;
}

.blog-post-container .fourcol .span26 {
    width: 87%;
    float: left;
    padding: 15px!Important;
}

#more1 {
    display: none!important;
}

.search-share {
    float: left;
    width: 95%;
    background: #222;
    margin: 0 0 7px 3px;
    padding: 15px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAADd0lEQVR4nO2dwZHCQAwE930hkAZxkAZxkAZxkAZxEMd9z3OUmznuI6r7t7X22stDsjTSsi6Xy9f6wfl83oyv1+vu+H6/b8a3220zfjwem/HxeNydX2ttxofDoXpe3p/X535zvt1frpf7y/fP+/N6EZFJpM0kG5vzOT6dTrtj8glks3M+12tteuuTaH/pg2m9vF5EZBIUN5CNzPkVNjLXT59FcQr5uLw/5/P5OSYfl+Pcf/qgBXFQ3p/ri4hMgnIz7Xc5feeTTaZcV75frpfX53yun/vL98n1ckz7ozjuSS5PRGQMZEOffCdTPr+y4WSjyWdQHJTjNg6i55EPzue98P4iImOg72j6zk+bS3pBjtPmLvBReX++f75f2vC8P+fJp+b15BPp91VTF5HJkL5BuSGyue/mpqhubIXPafUQ0uypZoA0dMqdpU8SERnGWzaf9APySZQLIh/zxAZX709xSq6Xv0/6HPIx5JNERCZBdUOUG6I6JcodkU8gH0A+Jm0+5c4ol9fWabW1yCIik2jjCKq9pdwO1RKT3tDWYbV1YxQ30X5JryF9RURkEm1d0wu5GNKMd210zpNPIB9CffYUl5DN/+8eSxGRSVBtLekVC3rqcp7iiFZ/yfdrzxYhn9P21ZMeQrktEZFJkEZMtbP0HU76BGn4pElTPwvlnshHUJ0Z5QIpjlIPEZHJkA+g2tR3fQBp7mRzW02fNG3qqaR50keoLkxEZBJp81qNeJV96aSZk97RnsXSaviUiyKfRbk+fYiIfBhk0yobTd/57VnsdA4v+bRW/2jrzNqzU2g/IiKToLoj+m5fUGfV5o4obmnPMCQbTvujfpA2bnrhbHgRkTGQhkzf3aQ5U+1v23dO17fnU1Ec09YCU67O/hAR+STIZ9A5tXRmYXuWCGn2ZNMpziEb3mr0NN/WKIiITIJ6AHNMNjGvb/u827iC+lmoX4Tej3wSndnY5rZERCZBNvW/NfG2v6M9a556Ftu+89wP5aYozrAuS0Q+CcpVrTIuIZtLekF7JmJ79nwbN7U9krQerS8iMgmyce3Z7dRP8Yc6pV0fRP/5RD6O+sjpesq9UVxmLktEJkPf0a1mTmcoUq6M9Im2Fpf0CTrbne5v/4PqhTo0EZExtOfQUi1sjtuz5fP+fB7pC6TvkF5Bmnyrz1Cctn7/fiIiU/gG9i5uLQnuYhUAAAAASUVORK5CYII=") repeat scroll 0% 0% rgba(30, 30, 30, 0.4);
    border: 1px solid rgb(24, 24, 24);
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 1px 2px rgb(0, 0, 0);
}

.colll1,
.colll2,
.colll3,
.colll4 {
    float: left;
    font-size: 11px;
}

.colll1 {
    width: 10%;
}

.colll2 {
    width: 38.5%;
}

.colll3 {
    width: 37.5%;
}

.colll1 img {
    border: 1px solid #222;
    width: 80px;
    height: auto;
}

.colll4 {
    width: 5em;
    height: 5em;
    text-align: center;
    background: rgba(50,50,50,0.2);
    border: 1px solid #282828;
    margin: 2px 0 0 45px;
    padding: 10px;
}

.colll2 h3 {
    font-size: 16px;
    line-height: 1em;
    padding: 0 20px 0 0;
    margin: 0 0 0 20px;
}

.colll2 h3:before {
    content: "\f02b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 0 8px 0 -20px;
    font-size: 12px;
}

.colll3 .post-labels {
    width: 100%;
    float: left;
    color: #454545;
}

.colll3 .post-labels a {
    margin: 0 0 0 28px;
    border-bottom: 1px dotted #333;
    color: #454545;
}

.colll3 .post-labels a:before {
    content: "\f111";
    margin: 0 8px 0 -19px;
    font-size: 6px;
}

.colll4 .numcomment {
    font-size: 4em;
    float: left;
    width: 100%;
    margin: 10px 0 6px 0;
    display: block;
}

.colll4 .labelscomment {
    font-size: 10px;
    color: #333;
}

.g-profile {
    display: block;
    margin: 0 0 -3px 0;
}

.search-blogv2 span:before, 
 .search-blogv2 .post-labels a:before,
 .post-timestamp:before,.g-profile:before,
 .colll3 .post-labels a:before,
  .post-snippet:before,
   .post-labels:before,
   #submitButton-2:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-shadow: none!Important;
}

.g-profile:before {
    content: "\f007";
    margin: 0 9px 0 0;
    font-size: 12px;
}

.post-timestamp:before {
    content: "\f017";
    margin: 0 8px 0 0;
    font-size: 12px;
}

.post-snippet {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 0 0 20px;
}

.post-snippet:before {
    content: "\f017";
    margin: 0 10px 0 -40px;
    font-size: 12px;
}

.post-labels:before {
    content: "\f02b";
    margin: 0 10px 0 -20px;
    font-size: 12px;
}

.search-blogv2 .post-author:before {
    content: "\f007";
}

.search-blogv2 .post-timestamp:before {
    content: "\f017";
}

.search-blogv2 .post-labels a:before {
    content: "\f02b";
    margin: 0 3px 0 -12px;
    font-size: 9px;
}

.searchform {
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 5px 5px;
    position: relative;
    background-color: transparent !important;
    background-image: url("http://2.bp.blogspot.com/-qJDgRHT3_Zo/T8nw-FfXz0I/AAAAAAAABZk/qddvHatDQNA/s1600/li-x.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
}

.form-search-templates {
    margin: 0 0 4px 0!Important;
    float: left;
    width: 98%;
}

#submitButton-2 {
    margin: 0 0 0 16px!Important;
}

